<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Random Local News</title>

	<link href="https://fonts.googleapis.com/css?family=Asap:400,400i,700" rel="stylesheet">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	
	<header>
		<div class="nav">
			<div class="logo">Random Local News</div>
			<a href="#" target="_blank"><i class="fa fa-amazon"></i> For Amazon Echo</a>
		</div>

		<div class="header_text">
			<h1>Escape your news bubble.</h1>
			<h2>Use your Amazon Echo to hear headlines from <span class="places_wrap"><i class="fa fa-map-marker"></i> <span class="places">random local public radio stations</span>.</span></h2>
		</div>
	</header>
	
	<div class="wrap">
		<h3>How it works</h3>

		<p class="how">
			First, ask Alexa to activate the <a href="#" target="_blank">Random Local News skill</a>.
		</p>

		<div class="dialog">
			<div class="dialog_user">
				<div class="dialog_who">You</div>
				Alexa, enable Random Local News.
			</div>
		</div>
		<div class="dialog">
			<div class="dialog_alexa">
				<div class="dialog_who">Alexa</div>
				OK.
			</div>
		</div>
	
		<p class="how">
			Then, every time you ask Alexa for your <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=201601880" target="_blank">Flash Briefing</a>, it'll play a news summary from a random place in the US.
		</p>

		<div class="dialog">
			<div class="dialog_user">
				<div class="dialog_who">You</div>
				Alexa, what's in the news?
			</div>
		</div>
		<div class="dialog">
			<div class="dialog_alexa">
				<div class="dialog_who">Alexa</div>
				Here's your flash briefing… from a random public radio station:
			</div>
		</div>
		<div class="dialog">
			<div class="dialog_alexa">
				<div class="dialog_who">Alexa</div>
				<i class="fa fa-volume-up"></i> <em>Headlines from <span class="places">somewhere in the US</span></em>
			</div>
		</div>

		<h3>Why listen to news from random places?</h3>
		<p>Something</p>

		<h3>About</h3>
		<p>
			<strong>This project is open source.</strong> See the <a href="http://bit.ly/randomlocalstations" target="_blank">data sources on Google Sheets</a> (please suggest more!) and the <a href="#" target="_blank">application code on GitHub</a>.
		</p>
		<p>
			It was created by <a href="http://ryancatalani.com" target="_blank">Ryan Catalani</a>. <a href="#" target="_blank">Read more</a> about how and why he created it. Tweet at <a href="https://twitter.com/magicofpi" target="_blank">@magicofpi</a> with feedback and suggestions.
		</p>

	</div>
	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/abe5b38225.js"></script>
	<script src="main.js"></script>

</body>
</html>