<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Random Local News</title>

	<meta property="og:url" content="https://www.randomlocal.news" />
	<meta property="og:title" content="Random Local News" />
	<meta property="og:description" content="Use your Amazon Echo to hear headlines from random local public radio stations." />
	<meta property="og:image" content="https://www.randomlocal.news/map_social.jpg" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@magicofpi" />
	<meta name="twitter:title" content="Random Local News" />
	<meta name="twitter:description" content="Use your Amazon Echo to hear headlines from random local public radio stations." />
	<meta name="twitter:image" content="https://www.randomlocal.news/map_social.jpg" />

	<meta name="description" content="Use your Amazon Echo to hear headlines from random local public radio stations." />

	<link href="https://fonts.googleapis.com/css?family=Asap:400,400i,700" rel="stylesheet">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	
	<header>
		<div class="nav">
			<div class="logo">Random Local News</div>
			<a href="https://www.amazon.com/dp/B072Y1FXDZ" target="_blank"><i class="fa fa-amazon"></i> For Amazon Echo</a>
		</div>

		<div class="header_text">
			<h1>Escape your news bubble.</h1>
			<h2>Use your Amazon Echo to hear headlines from <span class="places_wrap"><i class="fa fa-map-marker"></i> <span class="places">random local public radio stations</span>.</span></h2>
		</div>
	</header>
	
	<div class="wrap">
		<h3>How it works</h3>

		<p class="how">
			First, ask Alexa to activate the <a href="https://www.amazon.com/dp/B072Y1FXDZ" target="_blank">Random Local News skill</a>.
		</p>

		<div class="dialog">
			<div class="dialog_user">
				<div class="dialog_who">You</div>
				Alexa, enable Random Local News.
			</div>
		</div>
		<div class="dialog">
			<div class="dialog_alexa">
				<div class="dialog_who">Alexa</div>
				OK.
			</div>
		</div>
	
		<p class="how">
			Then, every time you ask Alexa for your <a href="https://www.amazon.com/gp/help/customer/display.html?nodeId=201601880" target="_blank">Flash Briefing</a>, it'll play a news summary from a random place in the US.
		</p>

		<div class="dialog">
			<div class="dialog_user">
				<div class="dialog_who">You</div>
				Alexa, what's in the news?
			</div>
		</div>
		<div class="dialog">
			<div class="dialog_alexa">
				<div class="dialog_who">Alexa</div>
				Here's your flash briefing… from a random public radio station:
			</div>
		</div>
		<div class="dialog">
			<div class="dialog_alexa">
				<div class="dialog_who">Alexa</div>
				<i class="fa fa-volume-up"></i> <em>Headlines from <span class="places">somewhere in the US</span></em>
			</div>
		</div>

		<p class="how">
			If you don't have an Amazon Echo but want to try this out,
			<a href="#" id="inline_player_control"><i class="fa fa-spinner fa-spin inline_is_loading"></i><i class="fa fa-play-circle" id="inline_is_paused" style="display:none"></i><i class="fa fa-pause-circle" id="inline_is_playing" style="display:none"></i> click here</a> to listen to a random news summary. <em class="inline_is_loading">(One moment—it's loading.)</em> <em id="inline_which" style="display:none"></em> You can also use <a href="https://echosim.io/" target="_blank">Amazon's Echo simulator</a>.
		</p>

		<audio src="" id="inline_player" style="display:none;visibility:hidden"></audio>

		<h3>Why listen to news from random places?</h3>
		<p>Increasingly, our most ubiquitous technologies have been upending the original premise of the internet. Instead of exposing us to a greater humanity, our ostensibly worldwide networks have only made us more insular. Opaque algorithms only show us posts and articles they think we’ll like — or at least, on which we’ll click “like.” Far from nudging us to widen our perspectives, the internet tempts our most tribalistic tendencies to associate only with people whose values and views hew closest to ours.</p>

		<p>Discussions about this <a href="https://www.wired.com/2016/11/filter-bubble-destroying-democracy/">pernicious digital parochialism</a> were <a href="http://nymag.com/scienceofus/2016/11/how-facebook-and-the-filter-bubble-pushed-trump-to-victory.html">reinvigorated after the 2016 presidential election</a> laid bare its perils. This project is my first small contribution to the <a href="https://www.nytimes.com/2017/03/03/arts/the-battle-over-your-political-bubble.html">upswell of efforts</a> aiming to burst our filter bubbles.</p>

		<p>Perhaps, by hearing slivers of news from around the country—deliberately non-personalized and unfiltered—we can gain a wider and deeper understanding of our nation. &#8220;Democracy works only if we citizens are capable of thinking beyond our narrow self-interest,&#8221; as Eli Pariser wrote in his seminal work, <em><a href="https://www.amazon.com/Filter-Bubble-What-Internet-Hiding/dp/1594203008">The Filter Bubble</a></em>. &#8220;But to do so, we need a shared view of the world we cohabit. We need to come into contact with other people’s lives and needs and desires.&#8221; In our Balkanized digital media landscape, I hope this can be one oasis of cohesion and serendipity.</p>

		<p>
			<a href="https://medium.com/@ryancatalani/escape-your-news-bubble-with-random-local-news-ecf08b45239d" target="_blank"><i class="fa fa-medium"></i> Read more on Medium.</a>
		</p>

		<div id="support_pubic_radio">
			<h3>Don’t forget: Support your local public radio station</h3>
			This project is made possible by the work of stations across the country. If you want to support your local station—or one you hear through this project—please visit its website, or use <a href="http://www.npr.org/stations/" target="_blank">NPR's station finder</a>.
		</div>

		<h3>Colophon</h3>
		<p>
			<strong>This project is open source.</strong> See the <a href="http://bit.ly/randomlocalstations" target="_blank">data sources on Google Sheets</a> (please suggest more!) and the <a href="https://github.com/ryancatalani/randomlocalnews" target="_blank">application code on GitHub</a>.
		</p>
		<p>
			It was created by <a href="http://ryancatalani.com" target="_blank">Ryan Catalani</a>. <a href="https://medium.com/@ryancatalani/escape-your-news-bubble-with-random-local-news-ecf08b45239d" target="_blank">Read more</a> about how and why he created it. Tweet at <a href="https://twitter.com/magicofpi" target="_blank">@magicofpi</a> with feedback and suggestions.
		</p>

	</div>
	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/abe5b38225.js"></script>
	<script src="main.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', '<%= @ga_id %>', 'auto');
	  ga('send', 'pageview');

	</script>

</body>
</html>